* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  font-family: "Bebas Neue", cursive;
  font-family: "Lobster", cursive;
  font-family: "Oxygen", sans-serif;
  font-family: "Poppins", sans-serif;
}
.heading-font {
  font-family: "Anton", sans-serif;
  font-family: "Bebas Neue", cursive;
  font-family: "Lobster", cursive;
  font-family: "Mochiy Pop P One", sans-serif;
  font-family: "Oxygen", sans-serif;
  font-family: "Poppins", sans-serif;
}
.dot-bg {
  background-image: url("images/dot-bg.png");
  background-repeat: no-repeat;
  background-position: left;
}
/* .header-left-bg {
  background-image: url("images/dot-bg.png");
  background-position: left;
  background-repeat: no-repeat;
} */
/* .header-left-bg {
  background: url("images/dot-bg.png");
  background-repeat: no-repeat;
  background-position: left;
} */
section {
  margin: 50px auto;
}

.input-field {
  width: 20em;
  height: 3em;
  border-radius: 1.5em;
  border: white;
}
.input-field:focus {
  outline: none;
}

.submit-btn {
  width: 10em;
  height: 3em;
  background-color: black;
  color: white;
  border-radius: 1.5em;
  margin-left: -4em;
}

::placeholder {
  padding-left: 1em;
}
a {
  text-decoration: none;
}
